certifi==2025.1.31
charset-normalizer==2.0.12
click==8.1.8
Flask==2.1.2
flask-cors==5.0.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
requests==2.26.0
urllib3==1.26.20
Werkzeug==2.3.7
